* {
    background: #ffffff;
    font-family: 'Crimson Text', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.category {
    display: inline-flex;
    margin: 0;
}

.product {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin: 55px 0 25px 310px;
}

.product-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin: 0 0 15px 310px;

}